.align-center {
  text-align: center;
}

.parameters {
  width: 50%;
  margin: auto;
  padding: 15px;
}

.time-text-container {
  margin: auto;
  font-size: 40px;
}

.lap-table {
  margin: auto;
  margin-top: 10px;
  width: 50%;
  margin-bottom: 80px;
  padding: 15px;
  overflow: auto;
  border-radius: 4px;
}

.table-button {
  font-weight: bold !important;
  font-size: 18px !important;
}

.btn-container {
  width: 50%;
  margin: auto;
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
}

.stopwatch-button {
  width: 125px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .parameters {
    width: 70%;
  }
  .lap-table {
    width: 70%;
  }
  .btn-container {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .parameters {
    width: 90%;
  }
  .lap-table {
    width: 90%;
  }
  .btn-container {
    width: 90%;
  }
}
